<ion-view title='<center><img class="title-image" src="img/logoMini.png" style="width:40%;margin:4% 0 0 0"/></center>' id="favor"  hide-nav-bar="false">
  <ion-content padding="true" class="has-header">

    <div class="row">
    <div class="col col-5"></div>
    <div class="col col-90">


      <h3 style="color:#2B5BA7">CONTÁCTANOS</h3>

      Carrera 13c No. 165b - 41<br>
      Teléfono-whatsapp: <br>310 3258338 / 315 8111129<br>
      Correo Informativo : info@favores.com.co<br>
      Negocios y/o Clientes Institucionales : gerente.comercial@favores.com.co<br>
      Alianzas y/o Convenios : gerente@favores.com.co <br><br>

      <div class="list">

        <div class="item item-button-right">
          310 3258338
          <a href="tel:3103258338" class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </a>
        </div>

        <div class="item item-button-right">
          315 8111129
          <a href="tel:3158111129" class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </a>
        </div>

      </div>

      <form id="formContacto" class="list" ng-submit="mensaje()">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input2">
          <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre" />
        </label>
        <label class="item item-input" id="login-input2">
          <input type="text" id="email" name="email" placeholder="Escriba su email" />
        </label>
        <label class="item item-input" id="login-input2">
          <input type="number" id="telefono" name="telefono" placeholder="Escriba su teléfono" />
        </label>
        <label class="item item-input" id="login-input2">
          <textarea id="mensaje" name="mensaje" placeholder="Escriba su mensaje" rows="5"></textarea>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" class="button button-positive  button-block">ENVIAR MENSAJE</button>
      <!--<a href="tel:3103258338" id="login-button2" class="button button-assertive  button-block">LLAMAR AHORA</a>-->
    </form>

    </div>
    <div class="col col-5"></div>
  </div>
  </ion-content>
</ion-view>