<ion-view title='<center><img class="title-image" src="img/logoMini.png" style="width:40%;margin:4% 0 0 0"/></center>' id="favor"  hide-nav-bar="false">
  <ion-content padding="true" class="has-header">

    <div class="row">
    <div class="col col-5"></div>
    <div class="col col-90">


      <h3 style="color:#2B5BA7">CONTÁCTANOS</h3>
      <h5>315 811 1129 – 310 325 8338</h5>
      <h6>info@favores.com.co</h6>

      <form id="formContacto" class="list" ng-submit="mensaje()">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input2">
          <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre" />
        </label>
        <label class="item item-input" id="login-input2">
          <input type="text" id="email" name="email" placeholder="Escriba su email" />
        </label>
        <label class="item item-input" id="login-input2">
          <input type="number" id="telefono" name="telefono" placeholder="Escriba su teléfono" />
        </label>
        <label class="item item-input" id="login-input2">
          <textarea id="mensaje" name="mensaje" placeholder="Escriba su mensaje" rows="5"></textarea>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" class="button button-positive  button-block">ENVIAR MENSAJE</button>
      <a href="tel:3114881738" id="login-button2" class="button button-assertive  button-block">LLAMAR AHORA</a>
    </form>

    </div>
    <div class="col col-5"></div>
  </div>
  </ion-content>
</ion-view>