<ion-view title="inicio" id="page5" hide-nav-bar="true">
  <ion-content padding="false">
    <br><br>
    <img src="img/6VHZjyHiRPCRCkQHIRkR_logo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">

    <div class="row">
    <div class="col col-10"></div>
    <div class="col col-80">
	    <form id="inicio-form2" class="list">
	      <a ui-sref="registro" id="inicio-button3" class="button button-positive  button-block">REGISTRATE</a>
	      <a ui-sref="login" id="inicio-button4" class="button button-positive  button-block">INICIAR SESIÓN</a>
	    </form>
    </div>
    <div class="col col-10"></div>
  </div>
  </ion-content>
</ion-view>