<ion-view id="page3" title='<center>MIS SOLICITUDES</center>' ng-init="initSolicitudes()" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="false" cache-view="false">

  <ion-nav-bar class="bar-positive">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-chevron-left" menu-toggle="left"  ui-sref="menu.sERVICIOS"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!--<a ui-sref="menu.notificaciones" class="button button-icon button-clear ion-android-globe"></a>-->
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content padding="false" class="has-header">
  <ion-refresher
    pulling-text="Desliza para actualizar..."
    on-refresh="refreshSolicitudes()">
  </ion-refresher>
  	<ul class="list">

	    <a class="item" ng-repeat="lista in listaSolicitudes" ui-sref="detalleSolicitud({solicitud:lista.idSolicitud})" style="border:none" >
	      <h2 style="font-weight: bold">{{lista.servicio}} <ion-badge style="float:right">{{lista.idSolicitud}}</ion-badge></h2>
          <p>{{lista.texto}}</p>
           <div class="row">
    		<div class="col col-50" style="padding:0;font-size:0.9em;text-align: left;color:#387EF5">{{lista.estadoText}}</div>
    		<div class="col col-50" style="padding:0;font-size:0.9em;text-align: right;">{{lista.fechaFavor}}</div>
    	   </div>	
	    </a>

	</ul>
  </ion-content>
</ion-view>