<ion-view id="page8" title='<center>DETALLE DEL SERVICIO</center>' left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="false">
  <ion-nav-bar class="bar-positive">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-chevron-left" menu-toggle="left"  ng-click="myGoBack()"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!--<a ui-sref="menu.notificaciones" class="button button-icon button-clear ion-android-globe"></a>-->
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <h4 id="nUESTROSSERVICIOS-heading1" style="color:#000000;text-transform: uppercase">{{dataServicio[0].titulo}}</h4>
    <div>
      <img src="{{dataServicio[0].foto}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="nUESTROSSERVICIOS-markdown5" style="text-align:justify;">
      <p style="color:#000000;" ng-bind-html="contenidoPanel">
      </p>
    </div>
  </ion-content>
</ion-view>